*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    word-wrap: break-word;
}

nav{
    display: flex;
    flex-direction: column;

}

input {
    border: none;
    background: none;
    color: #93a6aa;
    font-size: 12px;
    font-weight: normal;
    height: 28px;
}


.navTop{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-color: #1b233c;
    z-index: 2;
}



#nav_ImageLogo{
    width: 65px;
    position: absolute;
    background-color: white;
    border-radius: 50% 50%;
    margin: 20px 20px;
    padding: 15px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    cursor: pointer;
}

#nav_ImageLogoText{
    height: 40px;
    margin: 20px 130px;
    cursor: pointer;
}

#nav_SearchClass{
    display: flex;
    flex-wrap: nowrap;
}


#nav_Search{
    border: 1px solid #7A7A7A;
    border-radius: 14px;
    padding-left: 10px;
    width: 220px;
}

#nav_SearchSubmit{
    width: 28px;
    background: url(images/btn-search-bg.png) no-repeat center center;
    text-indent: 28px;
}

.navBot{
    display: flex;
    width: 100vw;
    align-items: flex-start;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: bold;
}

#nav_background{
    display: block;
    position: absolute;
    width: 100vw;
    height: 20px;
    z-index: 0;
    background-color: #2E396C;
}

.nav_Text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 1;
}

.nav_Text>a{
    font-size: 14px;
    padding: 20px 15px;
    background-color: #2E396C;
    transform: 0.1s;
}

.nav_Text>a:nth-child(2){
    padding-left: 10vw;
    color: yellow;
}

.nav_Text>a:nth-child(8){
    padding-right: 10vw;
}

a:hover {
    color: #fff;
    background-color: #427dda;
}

.DropdownArrow{
    display: inline-block;
}

#cornerLeft{
    background-color: rgba(255, 255, 255, 0);
    image-rendering:optimizeQuality;
    margin-top: 20px;
}

#cornerRight{
    background-color: rgba(255, 255, 255, 0);
    image-rendering:optimizeQuality;
    margin-top: 20px;
}

.mainUp{
    background-image: url(images/header-home-bg.jpg);
    z-index: -2;
    width: 100vw;
    height: 100vh;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: space-around;
    text-align: right;
}

.main_left{
    width: 30rem;
    height: 50vh;
}

#main_textTop{
    font-size: 3.4rem;
    font-weight:100;
    line-height: 1.25;
}

#main_textBottom{
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 100;
}

.main_right{
    display: flex;
    height: 10%;
}

