*{
    margin: 0;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    word-wrap: break-word;
}

nav{
    display: flex;
    flex-direction: column;

}

input {
    border: none;
    background: none;
    color: #93a6aa;
    font-size: 12px;
    font-weight: normal;
    height: 28px;
}


.navTop{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-color: #181f35;
    border-bottom: 1px solid #ffffff34 ;
    z-index: 2;
}

.nav_Logo{
    margin-left: 8vw;
}

#nav_ImageLogo{
    width: 65px;
    position: absolute;
    background-color: white;
    border-radius: 50% 50%;
    margin: 20px 20px;
    padding: 15px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    cursor: pointer;
}

#nav_ImageLogoText{
    height: 40px;
    margin: 20px 130px;
    cursor: pointer;
    margin-right: 10vw;
}

.nav_SearchClass{
    margin-right: 10vw;
}


#nav_Search{
    border: 1px solid #7A7A7A;
    border-radius: 14px;
    padding-left: 10px;
    width: 220px;
}

#nav_SearchSubmit{
    width: 28px;
    position: absolute;
    background: url(images/btn-search-bg.png) no-repeat center center;
    text-indent: 28px;
    margin-left: -30px;
}

.navBot{
    display: flex;
    width: 100vw;
    align-items: flex-start;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: bold;
}

#nav_background{
    display: block;
    position: absolute;
    width: 100vw;
    height: 20px;
    z-index: 0;
    background-color: #303b70;
    box-shadow: 0px 4px 50px 60px rgba(0, 0, 0, 0.2);
}

.nav_Text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 1;
}

.nav_Text>a{
    font-size: 14px;
    padding: 15px 15px;
    background-color: #303b70;
    transform: 0.1s;
    cursor: pointer;
    color: rgb(216, 216, 216);
}

.nav_Text>a:nth-child(2){
    padding-left: 6vw;
    color: rgb(209, 209, 0);
}

.nav_Text>a:nth-child(8){
    padding-right: 17vw;
}

a:hover {
    color: #fff;
    background-color: #427dda;
}

.DropdownArrow{
    display: inline-block;
    background-image: url(images/Triangle.png);
    background-size: 7px 5px;
    width: 7px;
    height: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
}

#cornerLeft{
    background-color: rgba(255, 255, 255, 0);
    image-rendering:optimizeQuality;
    margin-top: 20px;
}

#cornerRight{
    background-color: rgba(255, 255, 255, 0);
    image-rendering:optimizeQuality;
    margin-top: 20px;
}

.mainUp{
    background-image: url(images/header-home-bg.jpg);
    z-index: -2;
    width: 100vw;
    height: 65vh;
    margin-top: -9vh;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: center;
    text-align: right;
}

.main_left{
    width: 23vw;
    height: 50vh;
    margin-top: 22vh;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#main_textTop{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.2rem;
    font-weight:100;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: -2vh;
}

#main_textBottom{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 100;

}

.main_right{
    margin-top: 10vh;
    display: block;
    width: 32vw;
    box-shadow: 0px 4px 15px 15px rgba(0, 0, 0, 0.2);
}

.mainDown{
    width: 110vw;
    height: 30vh;
    outline: rgba(0, 93, 199, 0.342) 2vh solid;
    background-color: rgb(235, 235, 235);
}

.mainDown_up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-top: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.downloadBtn{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 45rem;
    padding: 0px 0px 0px 30px;

    background-color: #326fd4;
    background-image: -moz-linear-gradient( 90deg, #2357c5 0%, rgba(77,77,77,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, #2357c5 0%, rgba(77,77,77,0) 100%);
}

#downloadBtn_Icon{
    width: 20px;
    height: 20px;
    padding-right: 35px;
}

#downloadBtn_Text{
    padding-left: 10px;
    padding: 15px 25px 15px 50px;
    border-left: white solid 1px;
}

#mainDown_up_version{
    color: #cfcfcf;
}
